### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("data/airports.dat", header=None, na_values='\\N')
airports.columns = ["id", "name", "city", "country", "iata", "icao", "latitude", "longitude", "altitude","timezone", "dst", "tz", "type", "source"]

# Read in the airlines data.
airlines = pd.read_csv("data/airlines.dat", header=None, na_values='\\N')
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]

# Read in the routes data.
routes = pd.read_csv("data/routes.dat", header=None, na_values='\\N')
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [3]:
airports

,id,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
7,8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101,283,-3.0,E,America/Godthab,airport,OurAirports
8,9,Kangerlussuaq Airport,Sondrestrom,Greenland,SFJ,BGSF,67.012222,-50.711603,165,-3.0,E,America/Godthab,airport,OurAirports
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531197,-68.703201,251,-4.0,E,America/Thule,airport,OurAirports
10,11,Akureyri Airport,Akureyri,Iceland,AEY,BIAR,65.660004,-18.072701,6,0.0,N,Atlantic/Reykjavik,airport,OurAirports
11,12,Egilsstaðir Airport,Egilsstadir,Iceland,EGS,BIEG,65.283302,-14.401400,76,0.0,N,Atlantic/Reykjavik,airport,OurAirports
12,13,Hornafjörður Airport,Hofn,Iceland,HFN,BIHN,64.295601,-15.227200,24,0.0,N,Atlantic/Reykjavik,airport,OurAirports
13,14,Húsavík Airport,Husavik,Iceland,HZK,BIHU,65.952301,-17.426001,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
14,15,Ísafjörður Airport,Isafjordur,Iceland,IFJ,BIIS,66.058098,-23.135300,8,0.0,N,Atlantic/Reykjavik,airport,OurAirports
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985001,-22.605600,171,0.0,N,Atlantic/Reykjavik,airport,OurAirports
16,17,Patreksfjörður Airport,Patreksfjordur,Iceland,PFJ,BIPA,65.555801,-23.965000,11,0.0,N,Atlantic/Reykjavik,airport,OurAirports
17,18,Reykjavik Airport,Reykjavik,Iceland,RKV,BIRK,64.129997,-21.940599,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
18,19,Siglufjörður Airport,Siglufjordur,Iceland,SIJ,BISI,66.133301,-18.916700,10,0.0,N,Atlantic/Reykjavik,airport,OurAirports
19,20,Vestmannaeyjar Airport,Vestmannaeyjar,Iceland,VEY,BIVM,63.424301,-20.278900,326,0.0,N,Atlantic/Reykjavik,airport,OurAirports
20,21,Sault Ste Marie Airport,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509399,630,-5.0,A,America/Toronto,airport,OurAirports
21,22,Winnipeg / St. Andrews Airport,Winnipeg,Canada,YAV,CYAV,50.056400,-97.032501,760,-6.0,A,America/Winnipeg,airport,OurAirports
22,23,Halifax / CFB Shearwater Heliport,Halifax,Canada,YAW,CYAW,44.639702,-63.499401,144,-4.0,A,America/Halifax,airport,OurAirports
23,24,St. Anthony Airport,St. Anthony,Canada,YAY,CYAY,51.391899,-56.083099,108,-3.5,A,America/St_Johns,airport,OurAirports
24,25,Tofino / Long Beach Airport,Tofino,Canada,YAZ,CYAZ,49.079833,-125.775583,80,-8.0,A,America/Vancouver,airport,OurAirports
25,26,Kugaaruk Airport,Pelly Bay,Canada,YBB,CYBB,68.534401,-89.808098,56,-7.0,A,America/Edmonton,airport,OurAirports
26,27,Baie Comeau Airport,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204399,71,-5.0,A,America/Toronto,airport,OurAirports
27,28,CFB Bagotville,Bagotville,Canada,YBG,CYBG,48.330601,-70.996399,522,-5.0,A,America/Toronto,airport,OurAirports
28,29,Baker Lake Airport,Baker Lake,Canada,YBK,CYBK,64.298897,-96.077797,59,-6.0,A,America/Winnipeg,airport,OurAirports
29,30,Campbell River Airport,Campbell River,Canada,YBL,CYBL,49.950802,-125.271004,346,-8.0,A,America/Vancouver,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7154,12028,Kerang Airport,NaN,Australia,KRA,YKER,-35.751400,143.938995,254,NaN,NaN,NaN,airport,OurAirports
7155,12029,Kempsey Airport,NaN,Australia,KPS,YKMP,-31.074400,152.770004,54,NaN,NaN,NaN,airport,OurAirports
7156,12030,Kingaroy Airport,NaN,Australia,KGY,YKRY,-26.580799,151.841003,1492,NaN,NaN,NaN,airport,OurAirports
7157,12031,Latrobe Valley Airport,Morwell,Australia,TGN,YLTV,-38.207199,146.470001,180,NaN,NaN,NaN,airport,OurAirports
7158,12032,Mareeba Airport,NaN,Australia,MRG,YMBA,-17.069201,145.419006,1560,NaN,NaN,NaN,airport,OurAirports
7159,12033,Ngukurr Airport,NaN,Australia,RPM,YNGU,-14.722800,134.746994,45,NaN,NaN,NaN,airport,OurAirports
7160,12034,Narromine Airport,NaN,Australia,QRM,YNRM,-32.214699,148.225006,782,NaN,NaN,NaN,airport,OurAirports
7161,12035,Port Pirie Airport,NaN,Australia,PPI,YPIR,-33.238899,137.994995,40,NaN,NaN,NaN,airport,OurAirports
7162,12036,Smithton Airport,NaN,Australia,SIO,YSMI,-40.834999,145.084000,31,NaN,NaN,NaN,airport,OurAirports
7163,12037,Snake Bay Airport,NaN,Australia,SNB,YSNB,-11.422800,130.654007,173,NaN,NaN,NaN,airport,OurAirports
7164,12038,Stawell Airport,NaN,Australia,SWC,YSWL,-37.071701,142.740997,807,NaN,NaN,NaN,airport,OurAirports
7165,12039,Tibooburra Airport,NaN,Australia,TYB,YTIB,-29.451099,142.057999,584,NaN,NaN,NaN,airport,OurAirports
7166,12040,Tumut Airport,NaN,Australia,TUM,YTMU,-35.262798,148.240997,878,NaN,NaN,NaN,airport,OurAirports
7167,12041,Wangaratta Airport,NaN,Australia,WGT,YWGT,-36.415798,146.307007,504,NaN,NaN,NaN,airport,OurAirports
7168,12042,Warracknabeal Airport,NaN,Australia,WKB,YWKB,-36.321098,142.419006,397,NaN,NaN,NaN,airport,OurAirports
7169,12043,Warren Airport,NaN,Australia,QRR,YWRN,-31.733299,147.802994,669,NaN,NaN,NaN,airport,OurAirports
7170,12044,West Sale Airport,Sale,Australia,SXE,YWSL,-38.090827,146.965335,72,NaN,NaN,NaN,airport,OurAirports
7171,12045,West Wyalong Airport,West Wyalong,Australia,WWY,YWWL,-33.937199,147.190994,859,NaN,NaN,NaN,airport,OurAirports
7172,12046,Young Airport,NaN,Australia,NGA,YYNG,-34.255600,148.248001,1267,NaN,NaN,NaN,airport,OurAirports
7173,12047,Guangzhou MR Air Base,Guanghua,China,LHK,ZHGH,32.389400,111.695000,0,NaN,NaN,NaN,airport,OurAirports
7174,12048,Shiyan Wudangshan Airport,Shiyan,China,WDS,ZHSY,32.591667,110.907778,0,NaN,NaN,NaN,airport,OurAirports
7175,12049,Sunchon Air Base,Sunchon,North Korea,NaN,ZKSC,39.415699,125.894997,141,NaN,NaN,NaN,airport,OurAirports
7176,12050,Huatugou Airport,Mengnai,China,HTT,ZLHX,38.201984,90.841495,2945,NaN,NaN,NaN,airport,OurAirports
7177,12051,Baruun Urt Airport,NaN,Mongolia,UUN,ZMBU,46.660301,113.285004,3205,NaN,NaN,NaN,airport,OurAirports
7178,12052,Bengbu Airport,Bengbu,China,BFU,ZSBB,32.847733,117.320244,100,NaN,NaN,NaN,airport,OurAirports
7179,12053,Rugao Air Base,Rugao,China,RUG,ZSRG,32.257885,120.501656,0,NaN,NaN,NaN,airport,OurAirports
7180,12054,Wuhu Air Base,Wuhu,China,WHU,ZSWU,31.390600,118.408997,0,NaN,NaN,NaN,airport,OurAirports
7181,12055,Shanshan Airport,Shanshan,China,SXJ,ZWSS,42.911701,90.247498,0,NaN,NaN,NaN,airport,OurAirports
7182,12056,Yingkou Lanqi Airport,Yingkou,China,YKH,ZYYK,40.542524,122.358600,0,NaN,NaN,NaN,airport,OurAirports
7183,12057,Shenyang Dongta Airport,Shenyang,China,NaN,ZYYY,41.784401,123.496002,0,NaN,NaN,NaN,airport,OurAirports

In [4]:
airports.dtypes

id             int64
name          object
city          object
country       object
iata          object
icao          object
latitude     float64
longitude    float64
altitude       int64
timezone     float64
dst           object
tz            object
type          object
source        object
dtype: object

In [5]:
airlines.head()

,id,name,alias,iata,icao,callsign,country,active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

In [6]:
airlines.dtypes

id           int64
name        object
alias       object
iata        object
icao        object
callsign    object
country     object
active      object
dtype: object

In [7]:
routes.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [8]:
routes.dtypes

airline        object
airline_id    float64
source         object
source_id     float64
dest           object
dest_id       float64
codeshare      object
stops           int64
equipment      object
dtype: object

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [56]:
#routes[(routes['source']== 'LEX') | (routes['dest']== 'LEX')]
Lex_routes = routes.query("source == 'LEX' | dest == 'LEX'")
Lex_routes.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ

In [49]:
#Lex_routes.query("source == 'LEX'").shape
#Lex_routes['source'].value_counts().LEX
Lex_routes['source'].value_counts()['LEX']

20

In [51]:
Lex_routes['dest'].value_counts()['LEX']

20

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

In [11]:
Lex_route_airlines = pd.merge(Lex_routes,airlines, left_on = 'airline_id', right_on = 'id')
Lex_route_airlines.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y

In [12]:
Lex_route_airlines['name'].value_counts()

Delta Air Lines             10
Allegiant Air                8
US Airways                   6
American Airlines            6
United Airlines              4
Air France                   2
Pinnacle Airlines            2
KLM Royal Dutch Airlines     2
Name: name, dtype: int64

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

In [55]:
Lex_route_airlines['international'] = Lex_route_airlines['country'] != 'United States'

Lex_route_airlines['international'] = Lex_route_airlines['international'].replace([True, False], ['Y', 'N'])

Lex_route_airlines.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international,duplicate
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N

In [39]:
percent_oversea_airline = ((Lex_route_airlines['international'].value_counts().Y)/len(Lex_route_airlines)) * 100
percent_oversea_airline

10.0

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

In [52]:
Lex_route_airlines['duplicate'] = Lex_route_airlines.duplicated(subset = ['source','dest'])

#Lex_route_airlines['international'] = Lex_route_airlines['international'].replace([True, False], ['Y', 'N'])

#Lex_route_airlines.sort_values('duplicate', ascending = False)
Lex_route_airlines.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international,duplicate
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,False
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,False
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,False
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,False
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,False

In [53]:
Lex_route_airlines['duplicate'] = Lex_route_airlines['duplicate'].replace([True, False], ['Y', 'N'])
Lex_route_airlines.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international,duplicate
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N
3,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N
4,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N

In [54]:

Lex_routes_unique = Lex_route_airlines.query("codeshare != 'Y' & duplicate == 'N'")
Lex_routes_unique.head()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international,duplicate
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
1,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N,N
2,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N,N
12,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N,N
16,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N,N

In [46]:
Lex_routes_unique['source'].value_counts()['LEX']

6

In [47]:
Lex_routes_unique['dest'].value_counts()['LEX']

7